<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Downloads</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/styling.css') }}"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-TT7S7PZ5RL"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-TT7S7PZ5RL");
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <p class="Desc">Downloads Version below</p>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5283948064358656"
      crossorigin="anonymous"
    ></script>
    <!-- Downloads ads -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-5283948064358656"
      data-ad-slot="3759604465"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <p class="GreatText">Version Below</p>
    <table class="table">
      <thead>
        <th>Version</th>
        <th>Download</th>
        <th>Organization</th>
      </thead>

      <tbody>
        <tr>
          <td><a href="/V1.1.0patchnotes">V1.1.0</a></td>
          <td>
            <a
              href="{{ url_for('static', filename='versions/chatforia 1.1.0.exe') }}"
              download="Chatforia 1.1.0 x86.exe"
              >Download</a
            >
          </td>
          <td>Chatforia</td>
        </tr>

        <tr>
          <td><a href="/V1.0.2patchnotes">V1.0.2</a></td>
          <td>
            <a
              href="{{ url_for('static', filename='versions/chatforia 1.0.2.exe') }}"
              download="Chatforia 1.0.2 x86.exe"
              >Download</a
            >
          </td>
          <td>Chatforia</td>
        </tr>

        <tr>
          <td><a href="/V1.0.11patchnotes">V1.0.11</a></td>
          <td>
            <a
              href="{{ url_for('static', filename='versions/chatforia 1.0.11.exe') }}"
              download="Chatforia 1.0.11 x86.exe"
              >Download</a
            >
          </td>
          <td>ReyanProgrammer</td>
        </tr>
        <tr>
          <td><a href="/V1.0.1patchnotes">V1.0.1</a></td>
          <td>
            <a
              href="{{ url_for('static', filename='versions/chatforia 1.0.1.exe') }}"
              download="Chatforia 1.0.1 x86.exe"
              >Download</a
            >
          </td>
          <td>ReyanProgrammer</td>
        </tr>
        <tr>
          <td><a href="/V1.0.0patchnotes">V1.0.0</a></td>
          <td>
            <a
              href="{{ url_for('static', filename='versions/chatforia.msi') }}"
              download="Chatforia 1.0.0 x86.msi"
              >Download</a
            >
          </td>
          <td>ReyanProgrammer</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
