<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About chatforia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/styling.css') }}"
    />
  </head>
  <body>
    <h1 class="heading">About chatforia</h1>

    <p class="Desc">
      <strong>chatforia</strong> is a Simple chatting Desktop app
    </p>
    <p class="Desc">
      <strong>Which</strong> Can be used for chatting with your friends and
      family <br />by just starting a server
    </p>
    <hr />
    <button class="btn"><a href="downloads">Download</a></button>
  </body>
</html>
